@model IndexViewModel
@{
    ViewData["Title"] = "Főoldal";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        <strong>Mai napig végrehajtott fuvarok száma:</strong> @Model.BefejezettFuvarok<br />
        <strong>Végrehajtott és tervezett fuvarok száma:</strong> @Model.OsszesFuvar<br />
        <strong>Alkalmazásban lévő sofőrök létszáma:</strong> @Model.SoforLetszam<br />
        <strong>Gépjárművek száma:</strong> @Model.GepjarmuDarab<br />
    </div>
</div>

