@model GepjarmuDetailsViewModel

@{
    ViewData["Title"] = "Gépjármű törlése";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        <dl>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Tipus)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tipus)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Rendszam)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rendszam)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Kategoria)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Kategoria)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.FutottKm)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FutottKm)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.SzervizCiklus)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SzervizCiklus)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.UtolsoSzerviz)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UtolsoSzerviz)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.TelephelyCim)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TelephelyCim)
            </dd>
        </dl>

        @using (Html.BeginForm("Delete", "Gepjarmus", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.GepjarmuID)
            <input type="submit" value="Törlés" class="btn-reset" />
        }
        <div style="text-align: right;">@Html.ActionLink("Vissza a listához", "Index", "Gepjarmus")</div>
    </div>
</div>