@model GepjarmuCreateViewModel
@{
    ViewData["Title"] = "Gépjármű szerkesztése";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        @using (Html.BeginForm("Edit", "Gepjarmus", FormMethod.Post))
        {
            @Html.LabelFor(model => model.Tipus, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Tipus, new { @class = "textbox", placeholder = "Írja be a gépjármű típusát..." })<br /><br />

            @Html.LabelFor(model => model.Rendszam, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Rendszam, new { @class = "textbox", placeholder = "Írja be a gépjármű rendszámát..." })<br /><br />

            @Html.LabelFor(model => model.Kategoria, new { @class = "labeltext" })<br />
            @Html.DropDownListFor(model => model.Kategoria, Html.GetEnumSelectList<Kategoria>(), new { @class = "combobox" })<br /><br />

            @Html.LabelFor(model => model.FutottKm, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.FutottKm, new { @class = "textbox", placeholder = "Írja be a futott km-t..." })<br /><br />

            @Html.LabelFor(model => model.SzervizCiklus, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.SzervizCiklus, new { @class = "textbox", placeholder = "Írja be a szervízciklust..." })<br /><br />

            @Html.LabelFor(model => model.UtolsoSzerviz, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.UtolsoSzerviz, new { @type = "date", @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.SelectedTelephelyCim, new { @class = "labeltext" })<br />
            @Html.DropDownListFor(model => model.SelectedTelephelyCim, new SelectList(Model.Telephelyek, "Value", "Text"), new { @class = "combobox" })<br /><br />

            @Html.HiddenFor(model => model.GepjarmuID)

            <input type="submit" name="Save" value="Mentés" class="btn-submit" /><br />
        }
        <div style="text-align: right;">@Html.ActionLink("Vissza a listához", "Index", "Gepjarmus")</div>
    </div>
</div>