@model IEnumerable<GepjarmuListViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        <p>@Html.ActionLink("Új gépjármű felvétele", "Create", "Gepjarmus")</p>
        <table class="norm_Table">
            <thead>
                <tr>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.Tipus)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.Rendszam)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.FutottKm)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.Kategoria)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.TelephelyCim)
                    </th>
                    <th class="norm_Head">Lehetőségek</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.Tipus)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.Rendszam)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.FutottKm)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.Kategoria)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.TelephelyCim)
                        </td>
                        <td class="norm_Cell">
                            @Html.ActionLink("Szerkeszt", "Edit", "Gepjarmus", new { @id = @item.GepjarmuID }) |
                            @Html.ActionLink("Részletek", "Details", "Gepjarmus", new { @id = item.GepjarmuID }) |
                            @Html.ActionLink("Törlés", "Delete", "Gepjarmus", new { @id = item.GepjarmuID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>