@model FuvarDetailsViewModel

@{
    ViewData["Title"] = "Fuvar törlése";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        <dl>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Feladat)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Feladat)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.IndulasIdeje)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IndulasIdeje)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.BerakoCim)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BerakoCim)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.KirakoCim)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.KirakoCim)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.GjmuTipus)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GjmuTipus)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.GjmuRendszam)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GjmuRendszam)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.SoforNev)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SoforNev)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.JogositvanySzam)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JogositvanySzam)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.JogsiErvenyesseg)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JogsiErvenyesseg)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.JogsiKategoria)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JogsiKategoria)
            </dd>
        </dl>

        @using (Html.BeginForm("Delete", "Fuvars", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.FuvarID)
            <input type="submit" value="Törlés" class="btn-reset" />
        }
        <div style="text-align: right;">@Html.ActionLink("Vissza a listához", "Index", "Fuvars")</div>
    </div>
</div>