@model WebDiszpecser.Models.Fuvar

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Fuvar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feladat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feladat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndulasIdeje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndulasIdeje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BerakoCim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BerakoCim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KirakoCim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KirakoCim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gepjarmu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gepjarmu.Rendszam)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sofor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sofor.Csaladnev)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FuvarID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
