@model FuvarCreateViewModel
@{
    ViewData["Title"] = "Fuvar szerkesztése";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        @using (Html.BeginForm("Create", "Fuvars", FormMethod.Post))
        {
            @Html.LabelFor(model => model.Feladat, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Feladat, new { @class = "textbox", placeholder = "Írja be a Feladatot..." })<br /><br />

            @Html.LabelFor(model => model.IndulasIdeje, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.IndulasIdeje, new { @type = "date", @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.BerakoCim, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.BerakoCim, new { @class = "textbox", placeholder = "Írja be a berakás címét..." })<br /><br />

            @Html.LabelFor(model => model.KirakoCim, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.KirakoCim, new { @class = "textbox", placeholder = "Írja be a kirakás címét..." })<br /><br />

            @Html.LabelFor(model => model.SelectedGepjarmu, new { @class = "labeltext" })<br />
            @Html.DropDownListFor(model => model.SelectedGepjarmu, new SelectList(Model.GepjarmuList, "Value", "Text"), new { @class = "combobox" })<br /><br />

            @Html.LabelFor(model => model.SelectedSofor, new { @class = "labeltext" })<br />
            @Html.DropDownListFor(model => model.SelectedSofor, new SelectList(Model.SoforList, "Value", "Text"), new { @class = "combobox" })<br /><br />

            <input type="submit" name="Save" value="Mentés" class="btn-submit" /><br />
        }
        <div style="text-align: right;">@Html.ActionLink("Vissza a listához", "Index", "Fuvars")</div>
    </div>
</div>