@model IEnumerable<FuvarListViewModel>
@{
    ViewData["Title"] = "Fuvarlista";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        <p>@Html.ActionLink("Új fuvar létrehozása", "Create", "Fuvars")</p>
        <table class="norm_Table">
            <thead>
                <tr>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.Feladat)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.IndulasIdeje)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.BerakoCim)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.KirakoCim)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.GepjarmuTipus)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.SoforNev)
                    </th>
                    <th class="norm_Head">Lehetőségek</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.Feladat)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.IndulasIdeje)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.BerakoCim)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.KirakoCim)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.GepjarmuTipus)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.SoforNev)
                        </td>
                        <td class="norm_Cell">
                            @Html.ActionLink("Szerkeszt", "Edit", "Fuvars", new { @id = @item.FuvarID }) |
                            @Html.ActionLink("Részletek", "Details", "Fuvars", new { @id = item.FuvarID }) |
                            @Html.ActionLink("Törlés", "Delete", "Fuvars", new { @id = item.FuvarID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
