@model SoforCreateViewModel
@{
    ViewData["Title"] = "Új sofőr felvétele";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        @using (Html.BeginForm("Create", "Sofors", FormMethod.Post))
        {
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            @Html.LabelFor(model => model.Csaladnev, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Csaladnev, new { @class = "textbox", placeholder = "Írja be a családnevet..." })<br /><br />

            @Html.LabelFor(model => model.Keresztnev, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Keresztnev, new { @class = "textbox", placeholder = "Írja be a keresztnevet..." })<br /><br />

            @Html.LabelFor(model => model.SzulIdo, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.SzulIdo, new { @type = "date", @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.JogositvanySzam, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.JogositvanySzam, new { @class = "textbox", placeholder = "Írja be a jogosítvány számát..." })<br /><br />

            @Html.LabelFor(model => model.Ervenyesseg, new { @class = "labeltext" })<br />
            @Html.TextBoxFor(model => model.Ervenyesseg, new { @type = "date", @class = "textbox" })<br /><br />

            @Html.LabelFor(model => model.Kategoria, new { @class = "labeltext" })<br />
            @Html.DropDownListFor(model => model.Kategoria, Html.GetEnumSelectList<Kategoria>(), new { @class = "combobox" })<br /><br />

            <input type="submit" name="Save" value="Mentés" class="btn-submit" /><br />
        }
        <div style="text-align: right;">@Html.ActionLink("Vissza a listához", "Index", "Sofors")</div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}