@model WebDiszpecser.Models.Sofor
@{
    ViewData["Title"] = "Delete";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        <dl>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Csaladnev)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Csaladnev)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Keresztnev)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Keresztnev)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.SzulIdo)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SzulIdo)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.JogositvanySzam)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JogositvanySzam)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Ervenyesseg)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ervenyesseg)
            </dd>
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Kategoria)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Kategoria)
            </dd>
        </dl>

        @using (Html.BeginForm("Delete", "Sofors", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.SoforID)
            <input type="submit" value="Törlés" class="btn-reset" />
        }
        <div style="text-align: right;">@Html.ActionLink("Vissza a listához", "Index", "Sofors")</div>
    </div>
</div>