@model WebDiszpecser.Models.Sofor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sofor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csaladnev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csaladnev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Keresztnev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Keresztnev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SzulIdo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SzulIdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JogositvanySzam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JogositvanySzam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ervenyesseg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ervenyesseg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SoforID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
