@model IEnumerable<SoforListViewModel>
@{
    ViewData["Title"] = "Sofőrök";
}

<div class="body-container">
    <div class="body-title">@ViewData["Title"]</div>
    <div class="body-context">
        <p>@Html.ActionLink("Új sofőr felvétele", "Create", "Sofors")</p>
        <table class="norm_Table">
            <thead>
                <tr>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.Csaladnev)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.Keresztnev)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.SzulIdo)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.JogositvanySzam)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.Ervenyesseg)
                    </th>
                    <th class="norm_Head">
                        @Html.DisplayNameFor(model => model.Kategoria)
                    </th>
                    <th class="norm_Head">Lehetőségek</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.Csaladnev)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.Keresztnev)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.SzulIdo)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.JogositvanySzam)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.Ervenyesseg)
                        </td>
                        <td class="norm_Cell">
                            @Html.DisplayFor(modelItem => item.Kategoria)
                        </td>
                        <td class="norm_Cell">
                            @Html.ActionLink("Szerkeszt", "Edit", "Sofors", new { @id = @item.SoforID }) |
                            @Html.ActionLink("Törlés", "Delete", "Sofors", new { @id = item.SoforID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>